* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon svg {
  width: 16px;
  height: 16px;
}

.center {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 600px;
  height: 600px;
  margin: -100px 0 0 -100px;
}

.city-input {
  display: inline-grid;
  gap: 4px;
  border: 2px #3878e7 solid;
  padding: 4px;
}

#submit {
  background-color: #3878e7;
  color: #ffffff;
  border: none;
  padding: 16px 20px;
}

.weather {
  display: grid;
  gap: 4px;
}

h1.location {
  font-size: 120%;
}

.elements {
  font-weight: 600;
}
